001_Logger/src/main/mule/demo001.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="50c40bec-b836-4157-8326-deec09786136" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo001Flow" doc:id="00295b78-443a-4e0a-b940-bd31866f9035" >
		<http:listener doc:name="Listener" doc:id="674ccf3e-cba3-4191-8d31-64cc2e78627a" path="/loggerTest" config-ref="HTTP_Listener_config"/>
		<set-payload value='{ "a":1, "b":2}' doc:name="Set Payload" doc:id="b9dd6372-9c31-4c82-9007-634a47e66b3d" />
		<logger level="INFO" doc:name="Logger" doc:id="141dfce8-9051-4e84-8966-cb4cd0c8da7e" message='The Payload is #[payload]'/>
	</flow>
</mule>
