026_Mule_OAuth_provider/src/main/mule/demo026.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<os:object-store name="client_os" doc:name="Object store" doc:id="0cc4e7c4-43b0-4e6e-b3f4-9b766528f9f0" />
	<os:object-store name="token_os" doc:name="Object store" doc:id="2087c77a-7be3-417c-adf8-83d8029a38e5" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f7b5ea52-e1c1-4c99-9900-ac4f6d67eefb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<oauth2-provider:config name="OAuth2_Provider_Config" doc:name="OAuth2 Provider Config" doc:id="108bbe30-3b06-4e6d-882f-0f772d92ade2" listenerConfig="HTTP_Listener_config" clientStore="client_os" supportedGrantTypes="CLIENT_CREDENTIALS">
		<oauth2-provider:token-config tokenStore="token_os" />
	</oauth2-provider:config>
	<flow name="mule_oath_Flow" doc:id="ebb6e035-c6d9-4a9b-9e20-19c7bebe603e" >
		<http:listener doc:name="/GET createClient" doc:id="45853805-4857-4ff5-9664-0e605c7a298e" config-ref="HTTP_Listener_config" path="/createClient"/>
		<oauth2-provider:create-client doc:name="Create client" doc:id="6d506707-b297-4de2-a3e8-3a3abce61f7e" config-ref="OAuth2_Provider_Config" clientId="#[attributes.headers.client_id]" secret="#[attributes.headers.client_secret]" clientName="#[attributes.headers.client_name]" description='#[""]' principal='#[""]' redirectUris='#[["sg.com"]]' authorizedGrantTypes='#[["CLIENT_CREDENTIALS"]]' failIfPresent="true" type="CONFIDENTIAL"/>
		<set-payload value='#["Client Created"]' doc:name="Set Payload" doc:id="dafdee56-c1ea-4da8-8c92-e95a907f1a46" />
	</flow>
	<flow name="demo026Flow" doc:id="46c17390-8aac-46f3-a9d9-6a9d4fcf577f" >
		<http:listener doc:name="/GET validate" doc:id="4f88f0b4-3372-4b4a-acb5-1394ed5b318e" config-ref="HTTP_Listener_config" path="/validate"/>
		<oauth2-provider:validate-token doc:name="Validate token" doc:id="2ec9dddd-9cd9-49fb-8925-b670f9b20073" config-ref="OAuth2_Provider_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="af05571e-9510-4ce3-b014-65986e15c682" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
