004_invoke_REST/src/main/mule/rest-invoke-main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5879eadc-e3f5-4096-bd5a-b628c134068a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="8d7505f9-d0ac-4e90-bebf-c2a84d150d45" >
		<http:request-connection host="dummy.restapiexample.com" />
	</http:request-config>
	<flow name="rest-invoke-flow" doc:id="5ae47802-24a6-4286-9b10-bf24b9170c37" >
		<http:listener doc:name="/GET employees" doc:id="ad31e52f-7e12-41fc-a29d-f81e4908d899" config-ref="HTTP_Listener_config" path="/employees"/>
		<http:request method="GET" doc:name="REST call Employees" doc:id="527e9bbc-30eb-4b57-950e-af570800debe" config-ref="HTTP_Request_configuration" path="/api/v1/employees"/>
		<ee:transform doc:name="Transform Message" doc:id="75a135a6-6593-4e18-94cb-44c3918b8dbd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.data map {
    Id : $.id as Number,
    Name : $.employee_name
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="511d00ab-7b41-44fa-8bc1-1106da10d08d" message="#[payload]"/>
	</flow>
</mule>
