005_Scheduler/src/main/mule/schedule-main-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="scheduleFlow" doc:id="d7d2588a-98fd-452e-a424-e16949ffbb87" >
		<scheduler doc:name="Scheduler" doc:id="45b2a10f-425f-4c59-a2ab-c768b5a51bb2" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="43eb8d7b-8117-495d-8c1a-6936ce3e91f7" message="**Logger invoked at :: #[now()]**"/>
	</flow>
</mule>
